body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
    height: auto;
    display: flex;
}

nav .logo {
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

nav .logo h3 {
    color: #000;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

nav .nav-links {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -300%);
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

nav .nav-links a {
    text-decoration: none;
    margin-left: 20vh;
    color: #000;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

nav .nav-links a:hover {
    transition: 0.5s ease-out;
    color:rgb(176, 176, 176);
}

nav .nav-links .active {
    text-decoration:line-through;
    transition: 0.5s ease-out;
    color:rgb(176, 176, 176);
}

#menu {
    display: none;
}

#close {
    display: none;
}

.container h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Caveat', cursive;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-left: 5vh;
    margin-right: 5vh;
    text-align: center;
}

.wrapper div {
    background: rgb(218, 218, 218);
}

.wrapper div img {
    width: 40vh;
}

.wrapper p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.wrapper a {
    display: grid;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.wrapper a:hover {
    transition: 0.2s ease-out;
    background: #000;
    color: #fff;
}

footer {
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 5vh;
}

footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

@media (max-width: 900px) {
    nav .logo h3 {
        font-size: 20px;
    }

    nav .nav-links {
        display: none;
        margin-top: 120vh;
    }

    nav .nav-links a {
        line-height: 10vh;
    }

    #menu {
        display: flex;
        font-size: 20px;
        position: absolute;
        left: 60%;
        transform: translate(350%, -200%);
    }

    #close {
        display: none;
        font-size: 20px;
        position: absolute;
        left: 60%;
        transform: translate(350%, -200%);
    }

    .container h1{
        text-align: center;
        font-size: 40px;
        font-family: 'Caveat', cursive;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    footer p {
        font-size: 15px;
    }
}
